 <!-- Footer Start-->
 <div class="footer-copyright-area"style="color:black;background:white;margin-top:15px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" >
                <div class="footer-copy-right" style="color:black;background:white">
                <p style="color:black;text-align:center">Copyright &copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> All Rights Reserved &reg Designed By Tinovimba Masanzu</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<!-- Footer End-->